---
import { Picture } from "astro:assets";
import Link from "../ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Logo from "../../../public/Logo.png";
type MenuItem = {
  title: string;
  path: string;
  children?: MenuItem[]; // La propiedad 'children' es opcional y, si está presente, es un array de objetos MenuItem
};
const menuitems: MenuItem[] = [
  {
    title: "Inicio",
    path: "/",
  },
  {
    title: "Guías de entrenamiento",
    path: "#",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Sobre nosotros",
    path: "/nosotros",
  },
  {
    title: "Contacto",
    path: "/contacto",
  },
];
---

<header
  id="header-nav"
  class="fixed z-10 w-screen py-3 px-10 top-0 flex flex-col lg:flex-row justify-between items-center"
>
  <Astronav>
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/" class="text-lg">
        <Picture  class="w-32" src={Logo} formats={['avif', 'webp']} alt="Una descripción de mi imagen." /> 
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:gap-3">
        {
          menuitems.map((item, index) => (
            <>
              {item.children && (
                <Dropdown
                  title={item.title}
                  children={item.children}
                  lastItem={index === menuitems.length - 1}
                />
              )}

              {!item.children && (
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 items-center font-medium lg:text-lg hover:bg-black hover:text-white hover:rounded-lg transition-all duration-500  text-gray-600 "
                  >
                    <span> {item.title}</span>
                  </a>
                </li>
              )}
            </>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
  <div>
    <div class="hidden lg:flex items-center gap-4">
      <Link href="#" size="md">Contacto</Link>
    </div>
  </div>
</header>
